#siteContainer {
    outline: 1px solid;

    display: flex;
    position: absolute;
    height: auto;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.infoContainer {
    outline: 1px solid;

    width: 20%;
    height: 100%;

    position: relative;
}
.right {
    margin-left: auto;
}
#boardWrapper {
    width: 60%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
#board {
    outline: 1px solid;
}
.infoWrapper {
    outline: 1px solid;

    width: 100%;
    height: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
    
    white-space: pre;
}
.infoButton {
    width: 100%;
    height: 100%;
}
.custom {
    width: 20%;
    text-align: center;
}
.hidden {
    display: none;
}
.bottom {
    position: absolute;
    bottom: 0;
}
.cell {
    outline: 1px solid;
    float: left;
}